#copy_link {
    color: rgb(84, 84, 84);
    height: 49px;
}
#videos {
    margin-top: 10%;
}

.slider,
input[type="range"] {
    margin-top: 5%;
}

.btn-lg {
    border-radius: 4px;
}
.btn-lg > .glyphicon{
    font-size: 21px;
}
.slider-handle{
    background: #415C85;
    opacity: 1;
}
.volume_c {
    display: none;
    padding-right: 30%;
    padding-left: 30%;
}
