#copy_link {
    color: rgb(84, 84, 84);
    height: 49px;
}
#videos {
    margin-top: 10%;
}
#disqus_thread{
    margin-top: 5%;
}
.slider,
input[type="range"] {
    margin-top: 5%;
}
#my_stream > div > div > div.col-md-1.col-md-offset-2{
    display: none;
}
.btn-lg {
    border-radius: 4px;
}
.btn-lg > .glyphicon{
    font-size: 21px;
}
.slider-handle{
    background: #415C85;
    opacity: 1;
}

.stream {
    margin-top: 2%;
}

#max_size_modal{
    color: rgb(51, 51, 51);
    text-shadow: none;
    margin-top: 15%;
}
#max_size_modal > div > div > div.modal-body > p > a{
    color: #428bca;
}

#modal-failure{
    color: rgb(51, 51, 51);
    text-shadow: none;
    margin-top: 15%;
}
#modal-failure > div > div > div.modal-body > p > a{
    color: #428bca;
}
