{% load i18n %}
<!-- /.modal-start -->
<div class="modal fade" id="max_size_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Hello, summoner, we have problem there" %}</h4>
      </div>
      <div class="modal-body">
        <p>{% trans "The limit of members for this room was exceeded, and we can not connect you with your buddies (Sorry for that)." %}
        {% trans "You can easily" %} <a href="{% url 'rooms:create' %}">{% trans "create a new one" %}</a>
        {% trans "or you can wait till somebody will leave this room and try to connect one more time, good luck!" %}
        </p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'rooms:create' %}"><button type="button" class="btn btn-primary">{% trans "Create a new room without anybody" %}</button></a>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modal-failure">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Hello, summoner, we have problem there" %}</h4>
      </div>
      <div class="modal-body">
        <p>{% trans "We failure to connect you with some your buddies (Sorry for that)." %}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Back to talk" %}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="failed_media_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Hello, summoner, we have problem there" %}</h4>
      </div>
      <div class="modal-body">
        <p>{% trans "We failure get access to your microphone. Please reload the page and make sure that this action is allowed" %}
        </p>
      </div>
    </div>
  </div>
</div>