{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_head %}
<link rel="stylesheet" href="{% static "css/slider.css" %}">
<link rel="stylesheet" href="{% static "css/room_detail.css" %}">
{% endblock extra_head %}
{% block title %}
{% trans "None and void: " %} {{ object.shorten_url }}
{% endblock title %}
{% block content %}
<div class="row headroom">
  <h4>{% trans "Copy this link to share this room with your mates" %}</h4>
  <div class="col-md-6 col-md-offset-3">
    <div class="input-group">
      <input name="copy_link" id="copy_link" type="text" disabled value="{{ request.build_absolute_uri }}" class="form-control" >
      <span class="input-group-btn">
        <button type="button" class="btn btn-default btn-lg" type="button" id="copy_link_button" data_link="{% static "js/ZeroClipboard.swf" %}">
          <span class="glyphicon glyphicon-link"></span>
        </button>
      </span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <a href="#">
        <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
        </button>
        </a>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <a href="">
        <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-trash">
        </span>
        </button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top:5%;">
  <div class="col-md-6 col-md-offset-3">
      <button id="mute_me" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-eye-close"></span> Mute me</button>
    </div>
</div>

<div class="row" id="videos">
  <div class="row stream" id="my_stream">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          <button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-user"></span>
              <i id="username">Me</i></button>
        </div>
        <audio id="local-audio" hidden muted></audio>
        <div class="col-md-4 col-md-offset-3">
          <input id="volume_range" type="range" step="0.01" min="0" max="1" value="1"/>
        </div>
        <div class="col-md-1 col-md-offset-2">
          <button type="button" class="btn btn-danger btn-lg" onclick="togglePlayPause(this)">
            <span class="glyphicon glyphicon glyphicon-off"></span>
             Mute
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.modal-start -->
<div class="modal fade" id="max_size_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Hello, summoner, we have problem there" %}</h4>
      </div>
      <div class="modal-body">
        <p>{% trans "The limit of members for this room was exceeded, and we can not connect you with your buddies (Sorry for that)." %}
        {% trans "You can easily" %} <a href="{% url 'rooms:create' %}">{% trans "create a new one" %}</a>
        {% trans "or you can wait till somebody will leave this room and try to connect one more time, good luck!" %}
        </p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'rooms:create' %}"><button type="button" class="btn btn-primary">{% trans "Create a new room without anybody" %}</button></a>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="modal-failure">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Hello, summoner, we have problem there" %}</h4>
      </div>
      <div class="modal-body">
        <p>{% trans "We failure to connect you with some your buddies (Sorry for that)." %}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Back to talk" %}</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div id="disqus_thread"></div>
</div>
    <script type="text/javascript">
        var disqus_shortname = 'instamute'; // required: replace example with your forum shortname

        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock content %}
{% block js %}
{{ block.super }}
<script src="http://api.turnservers.com/api.js?key=ShbJNkKnvDfOZoadFOYUtxiRyEVfcMkt"></script>
<script type="text/javascript" src="{% static "js/microevent.js" %}" ></script>
<script type="text/javascript" src="{% static "js/hark.js" %}" ></script>
<script type="text/javascript" src="{% static "js/voice_app.js" %}" ></script>
<script type="text/javascript" src="{% static "js/app.js" %}" ></script>
<script type="text/javascript" src="{% static "js/bootstrap-slider.js" %} "></script>
<script type="text/javascript" src="{% static "js/jquery.zclip.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/room_detail.js" %} "></script>
{% endblock js %}
