{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_head %}
<link rel="stylesheet" href="{% static "css/room_detail.css" %}">
{% endblock extra_head %}
{% block title %}
{% trans "None and void: " %} {{ object.shorten_url }}
{% endblock title %}
{% block content %}
<div class="row headroom">
  <h4>{% trans "Copy this link to share this room with your mates" %}</h4>
  <div class="col-md-6 col-md-offset-3">
    <div class="input-group">
      <input name="copy_link" type="text" disabled value="{{ request.build_absolute_uri }}" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" >
          <span class="glyphicon glyphicon-link"></span>
        </button>
      </span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-3 col-md-offset-6">
        <a href="#">
        <button class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-plus"></span>
        </button>
        </a>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <a href="">
        <button class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-trash">
        </span>
        </button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row" id="videos">
  <div class="row" id="my_stream">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-user"></span></button>
        </div>
          <audio id="local-audio" hidden step="0.01" min="0" max="1"></audio>
        <div class="col-md-2 col-md-offset-1">
          <button class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-volume-down"></span>
          </button>
        </div>
        <div class="col-md-4">
          <input id="volume_range" type="range"step="0.01" min="0" max="1" value="1" onchange="setVolume(this)" />
        </div>
        <div class="col-md-2">
          <button class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-volume-up"></span>
          </button>
        </div>
        <div class="col-md-1 col-md-offset-1">
          <button class="btn btn-default btn-sm" id="playpause" onclick="togglePlayPause(this)">
            <span class="glyphicon glyphicon glyphicon-off"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
{{ block.super }}
<script src="//api.turnservers.com/api.js?key=ShbJNkKnvDfOZoadFOYUtxiRyEVfcMkt"></script>
<script type="text/javascript" src="{% static "js/microevent.js" %}" ></script>
<script type="text/javascript" src="{% static "js/hibuddy_app.js" %}" ></script>
<script type="text/javascript" src="{% static "js/app.js" %}" ></script>
<script type="text/javascript" src="{% static "js/room_detail.js" %} "></script>
{% endblock js %}
