{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "Instamute.io: About" %}
{% endblock title %}
{% block extra_head %}
    <style type="text/css">
    h2.cover-heading {
        margin-top: 10%;
    }
    </style>
{% endblock extra_head %}
{% block content %}
<div class="inner cover">
    <h2 class="cover-heading">{% trans "Share your microphone" %}</h1>
        <img class="main_image" src="{% static "img/Firefox.png" %}" width='100%'>
        <img class="main_image" src="{% static "img/Chrome.png" %}" width='100%'>

    <h2 class="cover-heading">{% trans "That it!" %}</h1>
        <img class="main_image" src="{% static "img/Done.png" %}" width='100%'>
</div>
{% endblock content %}
