{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <head>
    <title>{% trans "Instamute.io" %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link href="{% static "css/cover.css" %}" rel="stylesheet">
    {% block extra_head %}
    {% endblock extra_head %}
    <style id="holderjs-style" type="text/css"></style>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
      {% block carousel %}
      {% endblock carousel %}
        <div class="cover-container">
          <nav class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="alert alert-success alert-dismissable" id="jsallert" style="display: none">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
              {% include "menu.html" %}
            </div>
          </nav>
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
    {% block js %}
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    {% endblock js %}
  </body>
</html>
